<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Become a member</title>
  </head>
  <body>
    <h1>Secret</h1>
    <%- include("partials/errors.ejs") %>
    <p>go back to <a href="/feed">feed</a></p>
    <form method="POST" action="/member">
      <label
        >Enter the password to become a club member<br />
        <input type="password" name="memberPw" /><br />
        <input type="submit" />
      </label>
    </form>
  </body>
</html>
