<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login Page</h1>
    <%- include("partials/errors.ejs") %>
    <form method="POST" action="/login">
      Enter Email:<br /><input type="text" name="email" /><br />Enter
      Password:<br /><input type="password" name="password" />
      <br /><br /><input type="submit" value="Submit" />
    </form>
  </body>
</html>
